@import url('https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


/*Fontes Gerais*/

body {
    background-image: linear-gradient(to left, #f7738b 10%, #aed8dd 100%);
    background-size: 200% 50%;
    animation: gradient 5s infinite alternate;

    @keyframes identifier {
        0% {
            background-position: 0%;
        }
        100% {
            background-position: 100%;
        }
        
    }
}
/*Header*/
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #f49cbb54;
}

header li {
    display: inline;
    margin: 0 20px;
    text-decoration: none;
}

header li a {
    display: inline;
    margin: 0 20px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.navbar-brand {
    margin-right: 30px;
}

.navbar-nav .nav-link {
    color: #5A2D2D;
    background-color: #f7adbb83;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: #1b5f8d;
}

/*Perfil*/
.upload{
    position: relative;
    margin: 10px 10px 10px 60px;
}
.upload img{
    border-radius: 50%;
    border: 6px solid #851328;
    margin-top: 10px;
}

.btn-warning{
    margin-left: 140px;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 15px;
    color: #DD2D4A;
    background-color: #f7adbb83;
    border: 0;
    overflow: hidden;
    transform: 0.2s;
}
.btn-warning input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
}
.btn-warning:hover{
    background-color: #f49cbb;
}

/*main*/

.form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    
}

.form-header {
    margin-bottom: 3rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background: #dd2d4a;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-self: space-between;
    padding: 1rem 0;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #f49cbb;
}

.input-box input:houver {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #dd2d4a;
}

.input-box label, {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}
/*Botão confirmação*/
.confirm-bottom button {
    border: none;
    background-color: #dd2d4a;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2.5rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.confirm-bottom button a {
    text-decoration: none;
    color: white;
}

.confirm-bottom button:hover {
    background-color: #ff4d6d;
}
.container {
    display: flex;
    justify-content: center;
    background-color: white;
}
/*Footer*/
footer {
    background-color: #f49cbb38;
    padding: 50px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
}

.informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

/*responsividade*/
@media screen and (max-width: 1331px) {
    aside{
        width: 100%;
    
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
}